.filter-layout {
  max-width: 1123px;
  max-height: 64px;
  margin: 10px;
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color:#e5e5ea;
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.filter-layout__pane {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}
.filter-layout__pane-search {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color:#e5e5ea;
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 220px;
  height: 32px;
}
.filter-layout__pane-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  overflow: visible;
}
.filter-layout__search {
  color: #bbbbbb;
  text-align: left;
  font-family: "PtRootUi-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.filter-layout__pane-calendar {
  background:#ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: #e5e5ea;
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 230px;
  height: 32px;
}
.filter-layout__pane-calendar-drop {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}
.filter-layout__pane-calendar-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  overflow: visible;
}
.filter__input {
  color: #404040;
  text-align: left;
  font-family: "PtRootUi-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;

  ::placeholder {
    color: #404040;
  }
}
.filter-layout__pane-icon-drop {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.filter-layout__button {
  background: #ffffff;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  border-radius: 8px;
}
.filter-layout__button-icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  overflow: visible;
}
.filter-layout__button-drop {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  overflow: visible;
}
.filter-layout__view {
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 32px;
}
.filter-layout__view-element {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}
.filter-layout__view-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  overflow: visible;
}

